* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.nav {
    text-align: center;
    font-size: 2em;
}

.nav li {
    display: inline;
}
/*
.nav ul {
    padding-bottom: 2rem;
}
*/
.nav a {
    text-decoration: none;
    padding-top: 0;
    padding: 1.5em;
}

.main-header img {
    padding: 10rem;
}

.main-picture {
    border-radius: 20px; /*why does this not work */
}

.main-header {
    text-align: center;
    background-color: rgb (0, 0, 0, 0.6);
    background-image: url(./images/jefferson-santos-9SoCnyQmkzI-unsplash.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 2rem;
    color: white;
    font-size: 40px;
}

.name-big {
    font-size: larger;
}
.container {
    padding: 2rem;
    margin: 2rem;
    border-bottom: solid 1px;
    color: #333366;
}

header h1 {
    padding: 2rem;
}

header p {
    padding: 2rem;
}

.last-discripter {
}

.discripter {
    padding: 1em;
    border-right: 1px solid;
    font-family: Brush Script MT;
}
